<style>
/* Smallest screen */
.tracks-gallery li.g1{background: url('../../assets/images/gfull-london-mill-01.jpg');}
.tracks-gallery li.g2{background: url('../../assets/images/gfull-london-mill-02.jpg');}
.tracks-gallery li.g3{background: url('../../assets/images/gfull-london-mill-03.jpg');}
.tracks-gallery li.g4{background: url('../../assets/images/gfull-london-mill-04.jpg');}
.tracks-gallery li.g5{background: url('../../assets/images/gfull-hemyock-01.jpg');}
.tracks-gallery li.g6{background: url('../../assets/images/gfull-hemyock-02.jpg');}
.tracks-gallery li.g7{background: url('../../assets/images/gfull-cycle-show-01.jpg');}
</style>
