<style>
/* Smallest screen */
.hemyock-gallery li.g1{background: url('../../assets/images/gfull-hemyock-01.jpg');}
.hemyock-gallery li.g2{background: url('../../assets/images/gfull-hemyock-02.jpg');}
.hemyock-gallery li.g3{background: url('../../assets/images/gfull-hemyock-03.jpg');}
.hemyock-gallery li.g4{background: url('../../assets/images/gfull-hemyock-04.jpg');}

</style>
