<style>
/* Smallest screen */
.corona-beach-build-gallery li{}
.corona-beach-build-gallery li.g1{background: url('../../assets/images/gfull-events-01.jpg');}
.corona-beach-build-gallery li.g2{background: url('../../assets/images/gfull-events-02.jpg');}
.corona-beach-build-gallery li.g3{background: url('../../assets/images/gfull-events-03.jpg');}
.corona-beach-build-gallery li.g4{background: url('../../assets/images/gfull-events-04.jpg');}
</style>
