<style>
/* Smallest screen */
.events-gallery li.g1{background: url('../../assets/images/gfull-events-01.jpg');}
.events-gallery li.g2{background: url('../../assets/images/gfull-events-02.jpg');}
.events-gallery li.g3{background: url('../../assets/images/gfull-events-03.jpg');}
.events-gallery li.g4{background: url('../../assets/images/gfull-events-04.jpg');}
.events-gallery li.g5{background: url('../../assets/images/gfull-events-05.jpg');}
</style>
