<style>
/* Smallest screen */
.trail-build-gallery li.g1{background: url('../../assets/images/gfull-red-bull-eod-01.jpg');}
.trail-build-gallery li.g2{background: url('../../assets/images/gfull-red-bull-eod-02.jpg');}
.trail-build-gallery li.g3{background: url('../../assets/images/gfull-red-bull-eod-03.jpg');}
.trail-build-gallery li.g4{background: url('../../assets/images/gfull-red-bull-eod-04.jpg');}
.trail-build-gallery li.g5{background: url('../../assets/images/gfull-woods-01.jpg');}
.trail-build-gallery li.g6{background: url('../../assets/images/gfull-woods-02.jpg');}
.trail-build-gallery li.g7{background: url('../../assets/images/gfull-red-bull-masters-01.jpg');}
.trail-build-gallery li.g8{background: url('../../assets/images/gfull-red-bull-masters-02.jpg');}
</style>
