<style>
/* Smallest screen */
.cycle-show-gallery li{}
.cycle-show-gallery li.g1{background: url('../../assets/images/gfull-cycle-show-01.jpg');}
.cycle-show-gallery li.g2{background: url('../../assets/images/gfull-cycle-show-02.jpg');}
.cycle-show-gallery li.g3{background: url('../../assets/images/gfull-cycle-show-03.jpg');}
</style>
