body.pages--about{
  .split-screen--right{
    background-image:url('assets/images/about-right-01.jpg');
    background-size:cover;
    background-repeat: no-repeat;
  }
}

body.pages{
  background:$brand-green;

  .split-screen--right{
    display: flex;
    align-items: center;
    justify-content: center;

    li{
      font-family: $h-font;
      color:white;
      font-size:em(24px);
      line-height: 1.2em;
      letter-spacing: 0.03em;
    }
  }

  .split-screen--left{
    position: relative;
    background:$brand-green;

    p{
      margin-bottom:20px;
    }
    h1, p{
      color:$brand-brown;
    }
  }

  @include screen(medium){
    .split-screen--right{
      height:100vh;
    }
  }
}
