.line{
  margin: 25px 0 ;
  display: block;
  font-family: $h-font;
  font-size: 70px;
  line-height: 10px;
  color: $brand-brown;
}

#top, #bottom, #left, #right{
  display:none;
}

@include screen(medium){

  // ----- Website border
  #top, #bottom, #left, #right {
    display:block;
  	background: $brand-brown;
  	position: fixed;
    z-index: 101;
  }
  #left, #right {
  	top: 0; bottom: 0;
  	width: 15px;
  }
  #left { left: 0; }
  #right { right: 0; }

  #top, #bottom {
  	left: 0; right: 0;
  	height: 15px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }

}
