

.outter-container{
  background:$brand-green;
  @include clearfix;
}


body.lay-split-screen{

  .split-screen--left{
    padding: 80px 15% 10% 7.5%;
  }

  .split-screen--right{
    // padding: 90px 7.5% 15% 7.5%;
  }

  @include screen(medium){
    .split-screen--left{
      position: fixed;
      padding: 160px 7.5% 5% 7.5%;
      background: rgba(90, 81, 41, 0.5);
    }

    .split-screen--right{
      float: right;
      position: relative;
      padding:0;
    }
  }
}

// Split screen
.split-screen{
  width:100%;
  height:100%;

  &--home-text{
    // display:none;
  }

  &--text{

    p{
      margin-bottom: 1.4em;
    }

    h4{
      margin-bottom:0.8em;
    }

    li{
      font-family: $p-font;
      font-weight: 100;
      margin-bottom:0.5em;
    }
  }

  @include screen(medium){
    float:left;
    width:50%;
    padding: 15% 10% 100px 7%;

    &--home-text{
      display:block;
    }

    &--fixed{
      position:fixed;
      height:100vh;
    }

    &--image{
      background-size:cover !important;
    }
  }
}

.home{

  .split-screen--right{
    float:right;
  }

  .split-screen--left{

    .home-slider-con{
      padding: 120px 15% 10% 7.5%;

      p{
        line-height: 23px;
        color: $brand-brown;
      }
    }
  }

  @include screen(medium){
    .split-screen--left, .split-screen--right{
      width:100%;
    }
    .split-screen--home-text{
      padding:0;

    }
    .split-screen--left .home-slider-con{
      padding: 160px 30% 10% 7.5%;
    }
  }

  @include screen(mediummiddle){

    .split-screen--left{
      position: fixed;
      width: 50%;
      padding: 0;

      .home-slider-con{
        padding: 180px 12.5% 10% 12.5%;
      }
    }

    .split-screen--right{
      width:50%;
    }
  }
}



.home .split-screen--right{
  float:right;
  padding:0;

  a{
    position: relative;
    height:240px;
    width:100%;
    padding:5% 10%;
    display: flex;
    align-items: center;
    overflow:hidden;
  }

}

@include screen(medium){

  .split-screen--right{
    padding: 0;

    body.about & {
      position:fixed;
      right:0;
      top:0;
      height:100vh;
    }
  }
  .home .split-screen--right{
    a{
      height:45vh;
    }
  }
}


.scroll-container{
  position:relative;
  top:0;
  height:100%;
  overflow-y:scroll;
}
