

.outter-container{
  background:$brand-green;
  @include clearfix;
}

// Split screen
.split-screen{
  width:100%;
  height:100%;

  &--text{

    p{
      margin-bottom: 1.4em;
    }

    h4{
      margin-bottom:0.8em;
    }

    li{
      font-family: $p-font;
      font-weight: 100;
      margin-bottom:0.5em;
    }
  }

  @include screen(medium){
    float:left;
    width:50%;
    padding: 15% 10% 100px 7%;

    &--fixed{
      position:fixed;
      height:100vh;
    }

    &--image{
      background-size:cover !important;
    }
  }
}

.home .split-screen--left{

  .home-slider-con{
    position: fixed;
    width: 30%;

    p{
      line-height: 23px;
      color: $brand-brown;
    }
  }
}

.split-screen--right{
  float:right;
}

.home .split-screen--right{
  float:right;
  padding:0;

  a{
    position: relative;
    height:45vh;
    width:100%;
    padding:5% 10%;
    display: flex;
    align-items: center;
    overflow:hidden;
  }

}


.scroll-container{
  position:relative;
  top:0;
  height:100%;
  overflow-y:scroll;
}
