// All projects page
.image-block-links{

  &--full{
    .all-projects__project{
      width:100% !important;
    }
  }

  &__link{
    position: relative;
    display: flex;
    float:left;
    width:100%;
    align-items: center;
    overflow:hidden;
    cursor: pointer;
    height:240px;

    h2{
      // display:table;
      display:inline-block;
      // font-size:em(42px);

      &:nth-child(2), &:nth-child(3){
        margin-left:12px;
      }
    }

    .image{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      filter: grayscale(98%);
      transform: scale(1.02);
      opacity:0;
      background-position: center right !important;
      background-size:cover;

      transition: all .5s ease-in-out;
    }

    &:after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:$brand-green;
      opacity:0.5;
      z-index: 0;

      transition: opacity 1s ease-in-out;
    }

    hgroup{

      h2{
        clear:both;
        text-align: left;
        transform: translateY(105%);
        overflow:hidden;
        padding:3px 0px 8px 0px;

        &:after{
          content:"";
          position: absolute;
          width:100%;
          height:6px;
          background:white;
          bottom:0px;
          left:0;

          transform: translateX(-100%);
          transition: transform .3s ease-in-out;

        }
      }
    }

    hgroup{
      width:100%;
      text-align:center;
      position: relative;
      z-index: 1;
      color:white;
      z-index: 1;

      .mask{

        h2{
          position: relative;
        }

        h4{
          transform: translateY(150%);
        }
      }
    }
  }

  @include screen(medium){

    hgroup{
      text-align: left;
    }

    .image-block-links__link{
      width:50%;
      height:50vh;
      padding: 5% 5%;
      background-size:contain;

      // BX slider
      &.active{
        .image{
          filter: grayscale(0);
          transform: scale(1.05) !important;
          transition: transform 6s ease-in-out, filter .1s !important;
        }
        &:after{
          opacity:0;
        }
        hgroup{
          .mask{
            h2{
              &:after{
                transform: translateX(-2%);
              }
            }
          }
        }
      }

      // Hover state
      &:hover{
        &:after{
          opacity:0;
        }

        .image{
          filter: grayscale(0);
          opacity:1;
          filter: none;
          transform: scale(1.05) !important;

          transition: transform 6s ease-in-out, filter .1s !important;
        }

        h2:after{
          transform: translateX(-2%) !important;
        }
      }
    }
  }

  &--full{
    .all-projects__project{
      padding: 5% 10%;
    }
  }
}


body.services-all{
  .image-block-links .image-block-links__link{
    @include screen(medium){
      height:40vh;
    }
  }
}


// Animate body

body.animate{

  main.outter-container div.image-block-links__link, main.outter-container a.image-block-links__link{
    .image{
      opacity: 1 !important;
      transform:scale(1);
    }

    hgroup{
      .mask{
        h4, h2{
          transform: translateY(0%) !important;
        }
      }
    }

    &:nth-child(1){
      .image{
        background-size:cover;
        transition: all .3s ease-in-out;
      }

      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .1s;
          }

          h4{
            transition: transform .3s ease-in-out .3s;
          }
        }
      }
    }
    &:nth-child(2){
      .image{
        background-size:cover;
        transition: all .3s ease-in-out .1s;
      }

      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .2s;
          }

          h4{
            transition: transform .3s ease-in-out .4s;
          }
        }
      }
    }
    &:nth-child(3){
      .image{
        background-size:cover;
        transition: all .5s ease-in-out .2s;
      }
      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .3s;
          }

          h4{
            transition: transform .3s ease-in-out .5s;
          }
        }
      }
    }
    &:nth-child(4){
      .image{
        background-size:cover;
        transition: all .5s ease-in-out .3s;
      }
      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .4s;
          }

          h4{
            transition: transform .3s ease-in-out .6s;
          }
        }
      }
    }
    &:nth-child(5){
      .image{
        background-size:cover;
        transition: all .5s ease-in-out .4s;
      }
      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .5s;
          }

          h4{
            transition: transform .3s ease-in-out .7s;
          }
        }
      }
    }
    &:nth-child(6){
      .image{
        background-size:cover;
        transition: all .5s ease-in-out .5s;
      }
      hgroup{
        .mask{
          h2{
            transition: transform .3s ease-in-out .6s;
          }

          h4{
            transition: transform .3s ease-in-out .8s;
          }
        }
      }
    }
  }

}

//---------------------------------------------------- Preview project images

.all-projects__project--eastbourne .image{
  background-image:url(assets/images/prj-eastbourne-preview.jpg) !important;
}
.all-projects__project--hemyock .image{
  background-image:url(assets/images/prj-hemyock-preview.jpg) !important;
}
.all-projects__project--red-bull-master .image{
  background-image:url(assets/images/prj-red-bull-masters-preview.jpg) !important;
}
.all-projects__project--nass .image{
  background-image:url(assets/images/prj-nass-preview.jpg) !important;
}
.all-projects__project--cycle-show .image{
  background-image:url(assets/images/prj-cycle-show-preview.jpg) !important;
}
.all-projects__project--contact .image{
  background-image:url(assets/images/prj-contact-preview.jpg) !important;
}
.all-projects__project--tree-surgery .image{
  background-image:url(assets/images/services-tree-surgery-preview.jpg) !important;
}
.all-projects__project--events .image{
  background-image:url(assets/images/services-events-preview.jpg) !important;
}
.all-projects__project--corona-beach-build .image{
  background-image:url(assets/images/prj-london-mill-preview.jpg) !important;
}
.all-projects__project--bmw-live-stand .image{
  background-image:url(assets/images/prj-bmw-live-stand-preview.jpg) !important;
}
.all-projects__project--leigh-upon-mendip .image{
  background-image:url(assets/images/prj-leigh-upon-mendip-preview.jpg) !important;
}
.all-projects__project--frames-of-mind .image{
  background-image:url(assets/images/prj-frames-of-mind-preview.jpg) !important;
}

//---------------------------------------------------- Preview normal page images

.image-block-links__link--contact .image{
  background-image:url(assets/images/nav-contact-lrg.jpg);
}
.image-block-links__link--projects .image{
  background-image:url(assets/images/nav-projects-lrg.jpg);
}
.image-block-links__link--about .image{
  background-image:url(assets/images/nav-about-lrg.jpg);
}
.image-block-links__link--services .image{
  background-image:url(assets/images/nav-services-lrg.jpg);
}
