nav.nav{
  visibility: hidden;
  opacity: 0;
  position:absolute;
  width:100%;
  height:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:99;
  overflow:scroll;
}

.main-header{
  position:fixed;
  width:100%;
  z-index: 2;

  nav.image-block-links{
    position: fixed;
    width:100%;
    visibility: hidden;
    opacity: 0;
    z-index: -2;
    // top:-105%;
  }

  .hamburger-btn{
    position: fixed;
    padding:12px 14px;
    top:15px;
    right:15px;
    z-index: 100;
    background:$brand-brown;

    i{
      float: left;
      display: block;
      width: 17px;
      height: 17px;
      margin-top:4px;

      span{
        display: block;
        height:5px;

        &:nth-child(2){
          margin-top:3px;
        }
      }

      svg{
        display: block;
        fill:white;
      }
    }

    p{
      display:none;
    }

    @include screen(medium){
      padding:16px 20px;

      &__text{
        float:left;
        height:20px;
        overflow: hidden;
      }

      i{
        margin-right: 10px;
      }

      p{
        display: block;
        color:white;
        font-family: $h-font;
        text-align: left;
        letter-spacing: 0.05em;
        font-size:1.8em;
        line-height: 1.1em;

        transition: transform .3s ease-in-out;
      }
    }
  }

  &--visible{

    nav.image-block-links{
      visibility: visible;
      opacity: 1;
      z-index: 90;
    }
  }
}



// Full screen nav
nav.image-block-links{

  a.image-block-links__link{
    height:25vh;
  }

  @include screen(medium){
    a.image-block-links__link{
      width:50%;
      height:50vh;
      padding:5%;
    }
  }
}

.main-header--visible a.image-block-links__link{

  &:nth-child(1){
    .image{
      transition: all .5s ease-in-out;
    }

    hgroup{
      .mask{
        h2{
          transition: transform .3s ease-in-out .1s;
        }

        h4{
          transition: transform .3s ease-in-out .5s;
        }
      }
    }
  }
  &:nth-child(2){
    .image{
      transition: all .5s ease-in-out .2s;
    }

    hgroup{
      .mask{
        h2{
          transition: transform .3s ease-in-out .6s;
        }

        h4{
          transition: transform .3s ease-in-out .8s;
        }
      }
    }
  }
  &:nth-child(3){
    .image{
      transition: all .5s ease-in-out .4s;
    }
    hgroup{
      .mask{
        h2{
          transition: transform .3s ease-in-out .9s;
        }

        h4{
          transition: transform .3s ease-in-out 1.1s;
        }
      }
    }
  }
  &:nth-child(4){
    .image{
      transition: all .5s ease-in-out .6s;
    }
    hgroup{
      .mask{
        h2{
          transition: transform .3s ease-in-out 1.2s;
        }

        h4{
          transition: transform .3s ease-in-out 1.4s;
        }
      }
    }
  }

  &:hover{
    &:after{
      opacity:0;
    }

    .image{
      filter: grayscale(0);
      opacity:1;
      filter: none;
      transform: scale(1.05) !important;

      transition: transform 6s ease-in-out, filter .1s !important;
    }

    h2:after{
      transform: translateX(-2%) !important;
    }
  }

  .image{
    opacity: 1 !important;
    transform:scale(1) !important;
  }

  hgroup{
    .mask{
      h4, h2{
        transform: translateY(0%) !important;
      }
    }
  }
}

.logo{
  width: 60px;
  height: 60px;
  left: 15px;
  top: 15px;
  position: fixed;
  background: $brand-brown;
  padding:20px;

  transition: all .3s ease-in-out;

  svg{
    width: 130px;
    position: relative;
    left: -102px;
    top: -13px;
  }

  svg .logo-symbol{

  }

  svg .logo-text{
    display:none;
  }

  &:hover{
    width:140px;
    height:auto;
    background:none;
    padding-top:25px;

    svg{
      left:0;
      width:100%
    }
    svg .logo-text{
      display: block;
    }
  }
}

body.home .logo{
  background:none;
  width:16%;
  padding-left:7.5%;
  padding-top: 3%;
  top:initial;
  left:initial;

  svg{
    top:initial;
    left:initial;
  }

  svg .logo-text{
    display: block;
  }
}
