body.services-trailbuilds{

  .bg-image{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-size: cover;
    background-image: url(assets/images/servies-trailbuilds-bg.jpg);
  }
}

body.services-tracks{

  .bg-image{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-size: cover;
    background-image: url(assets/images/prjs-hemyock-bg.jpg);
  }
}

body.services{
  .website-body{
    position: relative;
    z-index: 1;
  }

}

body.lay-split-screen{
  .split-screen--left{
    position: fixed;
    background: rgba(90, 81, 41, 0.5);
    padding: 15% 15% 0 7.5%;
  }
}

body.lay-split-screen{
  .split-screen--right{
    float: right;
    position: relative;
    padding:0;
  }
}

body.services{

  .split-screen--image{
    background-size: cover;
    background-image: url(assets/images/servies-trailbuilds-bg.jpg);

    li{
      font-family: $h-font;
      color:white;
      font-size:em(24px);
      line-height: 1.2em;
      letter-spacing: 0.03em;
    }
  }

  .split-screen--right{
    padding:0;
  }
}

.services-list{
  position: relative;

  h4{
    color:white;
    position:absolute;
    transform:translateX(-80%) translateY(140%) rotate(-90deg);
  }
}

.services-text{
  h1, p{
    color:white;
  }
}

.gallery{
  position: absolute;
  top: 15%;
  right: 0;
  padding-top: 22%;
  left: -20%;
  height: 500px;

  .featured-image{
    width: 80%;
    position: relative;
    // background: rgba($brand-green, .6);
    box-shadow:0 0 12px rgba(0,0,0,.4);

    &:focus{
      outline:none;
      box-shadow:none;
    }

    img{
      display: block;
    }
  }

  .gallery-fake-pager{
    padding-top:20px;
    position: absolute;
    width:42%;
  }
}
