body.services{
  .gallery{
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include screen(medium){
    .gallery{
      background: none !important;
    }
  }
  .related{
    margin-top:-20px;
  }
}

body.services-trailbuilds{

  .gallery{
    background-image: url(assets/images/servies-trailbuilds-bg.jpg);
  }

  @include screen(medium){
    .bg-image{
      position:fixed;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      height:100%;
      z-index:-1;
      background-size: cover;
      background-image: url(assets/images/servies-trailbuilds-bg.jpg);
    }
  }
}

body.services-tracks{

  .gallery{
    background-size: cover;
    background-image: url(assets/images/prjs-hemyock-bg.jpg);
    background-repeat: no-repeat;
  }

  @include screen(medium){
    .bg-image{
      position:fixed;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      height:100%;
      z-index:-1;
      background-size: cover;
      background-image: url(assets/images/prjs-hemyock-bg.jpg);
    }
  }
}


body.services{

  .website-body{
    position: relative;
    z-index: 1;
  }

  .split-screen--right{
    margin-top:80px;
  }

  .split-screen--image{
    background-size: cover;
    background-image: url(assets/images/servies-trailbuilds-bg.jpg);

    li{
      font-family: $h-font;
      color:white;
      font-size:em(18px);
      line-height: 1.4em;
      letter-spacing: 0.03em;
    }
  }

  .split-screen--right{
    padding:0;
  }

  .split-screen--left{

    .services-text{
      h1, p{
        color:$brand-brown;
      }
    }
  }

  @include screen(medium){
    .split-screen--right{
      height:100vh;
      position:absolute;
      right:0;

      &:after{
        content:"";
        display:table;
        clear:both;
      }
      margin-top:0;
    }

    .outter-container{
      display: block;
    }

    .split-screen--image{
      li{
        font-size:em(24px);
        line-height: 1.2em;
      }
    }

    .split-screen--left{
      display: flex;
      padding-right:15%;
      padding-left: 7.5%;
      padding-top:0;
      justify-content: center;
      align-items: center;

      .services-text{
        h1, p{
          color:white;
        }
      }
    }
  }
}

.services-list{
  position: relative;
  color:white;
  text-align: center;
  padding: 15% 7.5%;

  h4{
    position: relative;
    margin-bottom: 40px;
    font-size: em(22px);

    &:after{
      content:"";
      position:absolute;
      width:20px;
      height:4px;
      background:$brand-brown;
      left:50%;
      right:50%;
      margin-left:-30px;
      bottom:-14px;
    }
  }

  @include screen(medium){
    padding:0;
    text-align: left;

    h4{
      position:absolute;
      transform:translateX(-70%) translateY(280%) rotate(-90deg);
      margin-bottom:30px;

      &:after{
        // display: none;
        top:8px;
        left:0;
        background:white;
      }
    }
  }
}
