

// ------------------------------------ Fonts

$base-font-size: 16px;

// Heading font
$h-font: "VeneerTwo";
$p-font: "brandon-grotesque", sans-serif;



// ------------------------------------ Color


$brand-green: #C4D29B;
$brand-brown: #5A5129;
