.wufoo{
  font-family: arial, sans-serif;
}

#header{
  display:none;
}
#container, html.embed{
  background:none !important;
}

input.field, textarea, textarea.textarea{
  outline: none;
  border: none;
  background: none;
}

.wufoo label.desc, .wufoo legend.desc, label.desc, legend.desc{
  font-weight: normal;
}

form li.error{
  background: none !important;
}

#errorMsgLbl{
  color:black !important;
  margin-bottom:10px;
}

#errorLi, .error-container{
   background: none !important;
   border: none !important;
   text-align: left !important;
}
#errorMsg b{
  background-color: initial !important;
  padding:0 !important;
}

form span.req{
  color: black !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file{
  width: 100%;
  border-bottom: 2px solid #000000;
}

.wufoo > ul li.focused label.desc{
  color:white;
}
.wufoo > ul li.focused input, .wufoo .focused textarea.textarea{
  border-bottom:2px solid white;
  font-weight:bold;
}

.wufoo > ul li div input {
  padding-bottom:10px;
}

.wufoo .buttons input#saveForm{
  text-transform: uppercase;
  background:white;
  color:black;
  outline:none;
  border:none;
  padding: 10px 16px;
  font-size: 0.85em;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-family: arial, sans-serif;
}


/*.noI form li, .altInstruct form li{
  position:relative;
}*/

/*.focused{
  transform: translateY(0px);
  z-index: 0;
  font-size: 10px;
}

.wufoo label.desc, .wufoo legend.desc, label.desc, legend.desc{
  transform: translateY(16px);
  z-index: 0;
  font-size: 10px;
}*/

/* ----------------------------------  Focused styles */


.wufoo li.focused, form li.focused{
  background:transparent !important;
  border-bottom:1px solid black;
}



/* ----------------------------------  //Focused styles */

select{
  font-family: arial, sans-serif;
}

input[type="submit"] {
  font-family: arial, sans-serif;
}

form li{
  margin: 20px 0;
}
