<style>
/* Smallest screen */
.red-bull-master-gallery li.g1{background: url('../../assets/images/gfull-red-bull-masters-01.jpg');}
.red-bull-master-gallery li.g2{background: url('../../assets/images/gfull-red-bull-masters-02.jpg');}
.red-bull-master-gallery li.g3{background: url('../../assets/images/gfull-red-bull-masters-03.jpg');}
.red-bull-master-gallery li.g4{background: url('../../assets/images/gfull-red-bull-masters-04.jpg');}

</style>
