<style>
/* Smallest screen */
.tree-surgery-gallery li.g1{background: url('../../assets/images/gfull-tree-surgery-01.jpg');}
.tree-surgery-gallery li.g2{background: url('../../assets/images/gfull-tree-surgery-02.jpg');}
.tree-surgery-gallery li.g3{background: url('../../assets/images/gfull-tree-surgery-03.jpg');}
</style>
